/* RESET BOX SIZING */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

/* MAIN HEADER */
#main-header {
    width: 100%;
    height: 80px;
    background-color: white;
    padding: 15px;
}

#logo {
    vertical-align: middle;
}

#main-title {
    vertical-align: middle;
    font-size: 2em;
    font-style: bold;
}