/* RESET BOX SIZING */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

/* HEADER PAGINA WEB */
#header {
    width: 100%;
    height: 80px;
    background-color: white;
    padding: 15px;
}

#logo {
    vertical-align: middle;
}

#main-title {
    vertical-align: middle;
    font-size: 2em;
    font-style: bold;
}

/* INIZIO BOX BIANCA */
.box {
    width: 80%;
    height: 650px;
    background-color: white;
    margin: 40px auto 10px;
    border-radius: 1%;
}