/* RESET BOX SIZING */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

/* HEADER PAGINA WEB */
#header {
    width: 100%;
    height: 80px;
    background-color: white;
    padding: 15px;
}

#logo {
    vertical-align: middle;
}

#main-title {
    vertical-align: middle;
    font-size: 2em;
    font-style: bold;
}

/* INIZIO BOX BIANCA */
.box {
    width: 80%;
    height: 650px;
    background-color: white;
    margin: 40px auto 10px;
    border-radius: 1%;
}


/* DIV INTERNO A MAIN*/
.left-space {
    margin-left: 80px;
}

.button-selection {
    height: 15%;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* BUTTON*/
.button {
    padding: 10px;
    border: 1px solid;
    border-radius: 5%;
}

#button-1 {
    background-color: rgb(89, 163, 243);
    color: white;
}

#button-2 {
    background-color: white;
    border-color: lightgray;
    color: lightgray;
}


/* LISTE */
.container {
    padding-top: 30px;
}

.title {
    font-size: 1.5em;
    font-style: bold;
    margin-bottom: 20px;
}

.title::before {
    content: '\25BC';
    font-size: 10px;;
}


.list { 
   list-style-type: none;
}

.item {
    display: inline-block;
    width: 100%;
    height: 30px;
    padding: 5px;
    margin-bottom: 10px;
}

.item::before {
    border: 1px solid;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    line-height: 20px;
    text-align: center;
}

.checked::before {
    content: '\2713';
    border-color: green;
    color: green;
}

.unchecked::before {
    content: '\2717';
    border-color: red;
    color: red;
}


.item::after {
    border: 1px solid;
    border-radius: 25px;
    display: inline-block;
    width: auto;
    height: 20px;
    padding: 5px;
    color: white;
    font-size: 0.8em;

}

#label1::after {
    content: 'Editorial';
    background-color: #45abea;
    border-color: #45abea;
}

#label2::after {
    content: 'Q1 Goal';
    background-color: #a884e7;
    border-color: #a884e7;
}

#label3::after {
    content: 'Recruiting';
    background-color: #7dcab7;
    border-color: #7dcab7;
}

#label4::after {
    content: 'Mobile';
    background-color: #f8c884;
    border-color: #f8c884;
}